.DS_Store
.dart_tool/

.packages
.pub/
log.txt

build/

flutter_export_environment.sh
.idea
.flutter-plugins-dependencies

.flutter-plugins

pubspec.lock
ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
docs/.*
